*{
    margin: 0;
    padding: 0;
    
    }

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}

.container{

    max-width: 1000px;
    margin: auto;

}
header{

    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;

}

.title{

    font-size: 26px;
}

section{
  
    padding: 20px;
    background-image: url(../images/people.jpg);
    overflow: hidden;
    background-size: cover;
}

.formcontainer{

    max-width: 230px;
    background-color: #FFFFFFBB;
    float: right;
    padding: 20px;
    
}    

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;

}

input[type="submit"]{

    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

input:hover[type="submit"]{

    background-color:  #1a676d;
}

select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}  

footer{

    background-color: #202121;
    padding: 40px;
    text-align: center;
}


.picture{
    
    width: 160px;
}

.description {
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 10px;
    text-align: left;
}

.description p, .description h3 {

    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

@media screen and (max-width:718px){


.formcontainer{

    float: none;
    margin: auto;
}



.description{
 
display: inline;
 
}

}